{% extends "layout.html" %}
{% block header_css %}
<head>
    <title>Home</title>
    {{ super() }}
</head>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div align="center">
          <h1>**SmiShare**</h1>
          <p>...</p>
        </div>
        <div class="form-group">
          <input size="100" type="text" class="form-control" placeholder="Search">
        </div>
<!--         <button id="sbmt" class="btn btn-default">Submit</button>
 -->        <div align="center">
            <div alige="center" class="row">
                <div class="col-sm-2">
                    <div class="input-group">
                        <input id="TXT" type="radio" name="searchType" value="txt"> Txt
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-2 -->
                <div class="col-sm-2">
                    <div class="input-group">
                        <input id="PIC" type="radio" name="searchType" value="picture"> Music
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-2 -->
                <div class="col-sm-2">
                    <div class="input-group">
                        <input id="VIDEO" type="radio" name="searchType" value="video"> Video
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-2 -->
                <div class="col-sm-2">
                    <div class="input-group">
                        <input id="ALL" type="radio" checked="checked" name="searchType" value="all"> All
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-2 -->
            </div><!-- /.row -->
        </div>
    </div>
    <div align="center" style="padding-top: 150px;">
        <div class="row">
            <div class="panel panel-default">
              <!-- Default panel contents -->
                <div class="panel-heading">Smis</div>

                  <!-- Table -->
                <table id="topTable"class="table" width="50%">
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js_bottom %}
{{ super() }}
<script type="text/javascript">
        function addItemToTable(title, description, thumbnailId, thumbnailExt, itemID, itemExtension){
            // console.log(item);
            console.log(thumbnailId)
            var image_path = "/static/uploads/" + itemID + "." + itemExtension;
            var thumbnail = "/static/uploads/thumbnails/" + thumbnailId + "." + thumbnailExt;
            console.log(thumbnail);

            var table = document.getElementById("topTable");
            var row = table.insertRow(-1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            cell1.innerHTML = title;
            cell2.innerHTML = "";
            console.log("1")

            var img = document.createElement('img');
            img.src = thumbnail;
            img.width = "60"
            img.height = "40"
            img.style.cursor = "pointer"
            
            cell2.appendChild(img);

            cell3.innerHTML = description;
        }
        $(document).ready(function(){
            {% for (item, thumbnail) in items_and_thumbs %}
                addItemToTable("{{item.title}}","{{item.description}}","{{thumbnail.id}}","{{thumbnail.extension}}", "{{item.id}}", "{{item.extension}}");
            {% endfor %}

            $("#searchbar").hide();
			
			$("input").click(function(){
                $('#topTable').empty();
				{% for (item, thumbnail) in items_and_thumbs %}
					if($("#TXT").is(":checked") && ("{{item.extension}}" == "txt" || "{{item.extension}}" == "pdf")){
						addItemToTable("{{item.title}}","{{item.description}}","{{thumbnail.id}}","{{thumbnail.extension}}", "{{item.id}}", "{{item.extension}}");
					}
					else if($("#PIC").is(":checked") && ("{{item.extension}}" == "png" || "{{item.extension}}" == "jpeg" || "{{item.extension}}" == "jpg")){
						addItemToTable("{{item.title}}","{{item.description}}","{{thumbnail.id}}","{{thumbnail.extension}}", "{{item.id}}", "{{item.extension}}");
					}
					else if($("#VIDEO").is(":checked") && "{{item.extension}}" == "png"){
						addItemToTable("{{item.title}}","{{item.description}}","{{thumbnail.id}}","{{thumbnail.extension}}", "{{item.id}}", "{{item.extension}}");
					}
					else if($("#ALL").is(":checked")){
						addItemToTable("{{item.title}}","{{item.description}}","{{thumbnail.id}}","{{thumbnail.extension}}", "{{item.id}}", "{{item.extension}}");
					}
				{% endfor %}
			});
        });
    </script>
{% endblock %}