{% extends "layout.html" %}
{% block header_css %}
<head>
    <title>Home</title>
    {{ super() }}
</head>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-10 col-md-offset-2" style="width:800px;">
        <div id="class-list" class="list-group">
            
        </div>

        <h3>Assignments </h3>
        <div class="list-group">
            <a href="" class="list-group-item">
                <div class="row">
                    <div class="col-md-2">Asignment 1</div>
                    <div class="col-md-2 col-md-offset-8">due on 10/3</div>
                </div>
            </a>
            <a href="" class="list-group-item">
                <div class="row">
                    <div class="col-md-2">Asignment 2</div>
                    <div class="col-md-2 col-md-offset-8">due on 10/3</div>
                </div>
            </a>
            <a href="" class="list-group-item">
                <div class="row">
                    <div class="col-md-2">Asignment 3</div>
                    <div class="col-md-2 col-md-offset-8">due on 10/3</div>
                </div>
            </a>
            <a href="" class="list-group-item">
                <div class="row">
                    <div class="col-md-2">Asignment 4</div>
                    <div class="col-md-2 col-md-offset-8">due on 10/3</div>
                </div>
            </a>
            <a href="" class="list-group-item">
                <div class="row">
                    <div class="col-md-2">Asignment 5</div>
                    <div class="col-md-2 col-md-offset-8">due on 10/3</div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
{% block js_bottom %}
{{ super() }}
<script>   
</script>
{% endblock %}