<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="/static/images/smishare.jpeg">
</head>
<body style="padding: 65px 25px">{% block header_css %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='bootstrap3/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='bootstrap3/css/bootstrap.css') }}">
    <style type="text/css"> body { padding-top: 60px; padding-bottom: 40px; } </style>
{% endblock header_css %}
    <!-- Start NavBar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('home') }}">SmiShare</a>
            </div>
                <!-- Creates the dropdown menu when window gets small -->
            <div class="collapse navbar-collapse">
                <ul id="page-nav" class="nav navbar-nav">
                    <li><a href="/home">Overview</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End of NavBar -->

    <!-- Start the main page content -->
    <div class="container-fluid" style="position: relative; min-height: 100%;">
        {% block body %}{% endblock %}
    </div>
    <!-- End the main page content -->

    {% block js_bottom %}{# Placed at the end of the document so the pages load faster #}
    <script src="/static/jquery-2.1.1.min.js"></script>
    <script src="/static/bootstrap3/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var url_path = window.location.pathname.replace('/').split('/');
            $('#page-nav li a').each(function() {
                if (url_path[0] == $(this).attr('href').replace('/').split('/')[0]) {
                    $(this).parent('li').addClass('active');
                }
            });


        });
    </script>
    {% endblock js_bottom %}

</body></html>
