{% extends "layout.html" %}
{% block header_css %}
<head>
    <title>Upload a File</title>
    {{ super() }}
</head>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-10 col-md-offset-2" style="width:800px;">
        <form role="form", method="POST" enctype="multipart/form-data">
            <input type="text" class="form-control" placeholder="Title" name="title">
            <br>
            <textarea name="description" class="form-control" placeholder="Optional Description"></textarea>
            <br>
            <span class="btn btn-default btn-file">
                Upload File<input type="file" name="file_path">
            </span>
            <span class="btn btn-default btn-file">
                Optional Thumbnail<input type="file" name="thumbnail">
            </span>
            <button id="submit" class="btn btn-sm btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
{% block js_bottom %}
{{ super() }}
<script>   
</script>
{% endblock %}